
{% extends "index.html" %}
{% block body %}
{% csrf_token %}
<div>
    用户名: <input type="text" name = "name" id="uname">
    <span id="name_msg"></span>
</div>
<div>
    密码: <input type="password" name = "pwd" id="upwd">
    <span id="pwd_msg"></span>
</div>
<div>
    <input type="button" value="提交" id ="btn">
</div>
    <script>
        $(function(){
            var result = false;
            $('#uname').blur(function(){
                result = checkuname();
            });

            $('#btn').click(function(){
                if(result){
                    regist();
                }else{
                    alert("不能注册");
                }
            });
        })

    </script>
{% endblock %}