<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<body>
<div>
    用户名: <input type="text" name = "name" id="name" onblur="xhr_check()">
    <span id="name_msg"></span>
</div>
<div>
    密码: <input type="password" name = "pwd" id="pwd">
    <span id="pwd_msg"></span>
</div>
    <script>
        $(function(){

            }
        )   // 页面加载完毕之后执行这个方法

        function xhr_check(){
            var xhr = createXhr();
            var uname = $('#name').val();
            var upwd = $('#pwd').val();
            var url1 = '/user/xhr_regist?uname='+uname+'&upwd='+upwd;
            xhr.open('get',url1,true);
            xhr.onreadystatechange = function(){
                if(xhr.readyState == 4 && xhr.status == 200){
                    $('#name_msg').html(xhr.responseText);
                }
            };
            xhr.send(null);
        }

    </script>
</body>
</html>