{% extends "index.html" %}
{% block type_css_js %}
    <link rel="stylesheet" href="/static/css/list.css">
    <script src="/static/js/jquery.min.js"></script>
{% endblock type_css_js%}
{% block page_info %}
    <div id="mypic">
        <div class="top">
            <div class="tleft">
                <h3>我的相册</h3>
            </div>
            <div class="tright">
                <p></p>
            </div>
        </div>
        <!-- 添加主体元素 -->
        <div class="body">
            
        </div>
    </div>
    <script src="/static/js/blog.js"></script>
{% endblock page_info %}