{% extends "bookstore/index.html" %}
{% block title %}
<title>增加新书</title>
{% endblock title %}

{% block index_body %}
{% block go_to %}
<form action="/bookstore/insert" method="post">
{% endblock go_to %}
    <div>
        <input type="hidden" name = "id" value="{{ book.id }}">
    </div>
    <div>
        书名: <input type="text" name ="title" value="{{ book.title }}">
    </div>
    <div>
        定价: <input type="text" name ="price" value="{{ book.price }}">
    </div>
    <div>
        市场价: <input type="text" name ="market_price" value="{{ book.market_price }}">
    </div>
    <div>
        出版社: <input type="text" name ="pub" value="{{ book.pub }}">
    </div>
    {% block edit %}
    <div>
        <input type="submit" value="增加新书">
    </div>
    {% endblock %}
</form>
{% if msg is not null %}
{{ msg }}
{% endif %}
{% endblock index_body %}