{% extends "bookstore/index.html" %}
{% block title %}
<title>查询</title>
{% endblock title %}

{% block index_body %}
<form action="/bookstore/serach" method="post">
    <div>
        类型:
        <select name="s_type">
            <option value="1" {% if s_type == "1" %}selected{% endif %}>查询图书</option>
            <option value="2" {% if s_type == "2" %}selected{% endif %}>查询作者</option>
        </select>
    </div>
    <div>
        名称: <input type="text" name="name">
    </div>
    <div>
        价格区间: <input type="text" name="minprice">到
        <input type="text" name="maxprice">
    </div>
    <div>
        <input type="submit" value="查询">
    </div>
</form>
{% if msg is not null %}{{ msg }}{% endif %}
<div>bookset:{{ bookset }}</div>
<div>authorset:{{ authorset }}</div>
{% if bookset is not null %}
<table border="1" cellpadding="0"  cellspacing="0">
    <tr>
        <td>id</td>
        <td>书名</td>
        <td>定价</td>
        <td>零售价</td>
        <td>出版社</td>
        <td>修改</td>
        <td>删除</td>
    </tr>
    {% for book in bookset %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.market_price }}</td>
        <td>{{ book.pub }}</td>
        <td><a href="/bookstore/update_book?id={{ book.id }}">修改</a></td>
        <td><a href="/bookstore/delete?id={{ book.id }}">删除</a></td>

    </tr>
    {% endfor %}
</table>
{% endif %}

{% if authorset is not null %}
<table border="1"  cellpadding="0" cellspacing="0">
    <tr>
        <td>作者</td>
        <td>年龄</td>
        <td>邮箱</td>
    </tr>
    {% for author in authorset %}
    <tr>
        <td>{{ author.name }}</td>
        <td>{{ author.age }}</td>
        <td>{{ author.email }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock index_body %}